.droppable-zone {
  height: 0.5rem;
  width: 23rem;
}

.droppable-zone.valid {
  background-color: blue;
}

.is-over {
  height: 2rem;
}

.droppable-zone.with-children {
  display: flex;
  height: auto;
}
