.droppable-zone {
  height: 0.25rem;
  width: 23rem;
  width: 12.125rem;
  border-radius: 0.188rem;
}

.droppable-zone.valid {
  background-color: #d3dcea;
}

.is-over {
  height: 2rem;
}

.droppable-zone.with-children {
  display: flex;
  height: auto;
}
