.removable-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}

.removable-item-btn {
  background: #fff;
  border: none;
  width: 2rem;
  margin-bottom: 0.5rem;
}
